<body>
    <div class="container">
        <div class="img">
            <img src="/assets/SportsCo.png" alt="">
        </div>
        <form action="">
            <h1> Welcome Back! </h1>
            <div class="form-group">
                <label for="">Email id</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="text" class="form-control">
            </div>
            <p>Already have an account?</p>
            <a href="#" routerLink='/page1'>Login</a>
            </form>
    </div>
            